@keyframes shake {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }
  5%,
  15% {
    transform: rotate(-5deg);
  }
  10%,
  20% {
    transform: rotate(5deg);
  }
}

.animate-shake {
  animation: shake 10s ease-in-out infinite;
}
